:root {
  /* Set a theme for the page! */
  --theme-colour: #d63;
}

body {
  /* Font for the whole page  */
  font-family: "Merriweather", serif;
  font-weight: 300;

  /* Space out the lines of text  */
  line-height: 150%;

  /* Change where the main content is positioned: */
  /* Take up most of the screen width on smaller screens... */
  width: 94vw;
  /* ...but cap it so it's not too wide on bigger ones. */
  max-width: 800px;

  /* Centre the content on the page */
  margin: auto;
}

header {
  /* Make the links wrap underneath the title on small screens */
  display: flex;
  flex-wrap: wrap;

  /* Thick underline in the theme colour */
  border-bottom: solid 3px var(--theme-colour);

  /* Space everything out nicely */
  row-gap: 1.4rem;
  column-gap: 4rem;
  margin-block: 1rem 5vh;

  /* make the links look even after considering the underlines */
  padding: calc(1rem + 8px) 2vw;
}

main {
  /* Add some padding to the main body of the page */
  padding: 0 2vw;
}

.title {
  /* Make the title large and in line with the rest of the header */
  display: inline;
  font-size: 3rem;
}

#links {
  /* Wrap the navigation links if there are too many or the screen is small */
  display: flex;
  flex-wrap: wrap;

  /* Make the links larger than normal text */
  font-size: 1.45rem;

  /* Make the links spread out over the available space */
  flex-grow: 1;
  justify-content: space-between;

  /* Spread out rows of links so they don't overlap */
  row-gap: 2vh;
}

a {
  /* Remove the standard blue for links */
  color: black;

  /* Dotted orange underline for all links on the page */
  text-decoration: underline 2px dotted var(--theme-colour);
  text-underline-offset: 6px;
}

a:focus,
a:hover {
  /* Light orange background on links when mousing over or tabbing through */
  background-color: var(--theme-colour);
  filter: brightness(200%);
}

.navlink.active {
  /* Underline the link (with a solid line) for the current page in the navbar */
  text-decoration: underline 3px solid var(--theme-colour);
}

h2 {
  /* Make subheadings bold */
  font-weight: 700;
}

figure img {
  /* Shrink images to the size of the container they're in */
  width: 100%;
}

#headshot {
  /* Make the headshot take up up to half of the page, but cap so it isn't ever massive */
  max-width: 300px;
  width: 50%;

  /* Make it sit on the right instead of below*/
  float: right;

  /* Space it out from the text a bit */
  margin: 0 0 1vh 2vw;
}

#zine-container {
  /* Set the zines to display one on top of the other... */
  display: flex;
  flex-direction: column;

  /* ...centred... */
  align-items: center;

  /* ...with a gap between them. */
  gap: 10px;
}

#zines figure {
  /* Cap the size of the zines at 90% of the page or 600px, whichever is smaller. */
  max-width: min(600px, 90vw);
  margin: 0;
}

footer {
  /* Add a border at the top to match the header */
  border-top: solid 3px var(--theme-colour);

  /* Add space around to match the header's padding (mostly) */
  padding: 1rem 2vw;
  margin-top: 5vh;

  /* Space out the contents (contact box) */
  display: flex;
  justify-content: flex-start;
  gap: 10vw;
}

/* Manually set the height of the social icons. Fiddly! */
#email-icon {
  height: 1.2rem;
  position: relative;
  top: 3px;
}

#twitter-icon {
  height: 1rem;
  position: relative;
  top: 2px;
}
