:root {
    --theme-colour: #d63;
}

body {
    font-family:'Merriweather', serif;
    font-weight: 300;
    width: 100vw;
    max-width: 800px;
    margin: auto;
    line-height: 150%;
}

header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: solid 1px var(--theme-colour);
    padding: 1rem;
    margin-bottom: 5vh;
    font-size: 1.2rem;
    row-gap: 1.4rem;
    column-gap: 4rem;
    margin-block: 1rem 5vh;
}

header .title {
    display: inline;
}

#email-icon {
    height: 1.2rem;
    position: relative;
    top: 3px;
}

#twitter-icon {
    height: 1rem;
    position: relative;
    top: 2px;
}

.navlink.active {
    text-decoration: underline 2px solid var(--theme-colour);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 700;
}

#headshot {
    max-width: 300px;
    width: 50%;
    float: right;
    margin: 0 0 1vh 2vw;
}

figure img {
    width: 100%;
}

main {
    padding: 0 2vw;
}

a {
    color: black;
}

a:visited, a:link {
    text-decoration: underline 2px dotted var(--theme-colour);
}

a:focus, a:hover {
    background-color: var(--theme-colour);
    filter: brightness(200%);
}

@media screen and (max-width:450px) {
  header > * {
    flex-basis: 100%;
  }

  header nav a {
    display: block;
    margin-block: 2vh;
    font-size: 6vw;
  }
}

footer {
    border-top: 1px solid var(--theme-colour);
    padding: 1rem 2vw;
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    gap: 10vw;

}

#links {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
    font-size: 2rem;
}
