:root {
    --theme-colour: #d63;
}

body {
    font-family:'Merriweather', serif;
    font-weight: 300;
    width: 100vw;
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: solid 1px var(--theme-colour);
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

header .title {
    display: inline;
}

header .icon {
    height: 1.2rem;
    color: black;
}

header a {
    margin-inline-start: 1.5em;
    text-decoration: none;
}

header a.active {
    text-decoration: underline 2px solid var(--theme-colour);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 700;
}

#headshot {
    max-width: 300px;
    width: 50%;
    float: right;
    margin: 0 0 3vw 3vw;
}

figure img {
    width: 100%;
}

a {
    color: black;
}

main {
    padding: 0 2vw;
}

main a:link {
    text-decoration: underline 2px dotted var(--theme-colour);
}

a:focus, a:hover {
    background-color: var(--theme-colour);
    filter: brightness(200%);
}
